<div class="container mrtop20">
    <%= text_field_tag "name", "", id: "usagerFilter" %>
    <table id="userSurveysDatatable" class="display" cellspacing="0" width="100%", data-source="<%= user_surveys_admin_surveys_url(format: "json") %>" >
        <thead>
            <tr>
                <th>UserId</th>
                <th>SurveyType</th>
                <th>Schema Area</th>
                <th>Environment</th>
                <th>Response</th>
                <th>DOU</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
                    
        </tbody>
    </table>

</div>